!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title HTML学習用ウェブサイト
    %link{:href => "index.css", :rel => "stylesheet"}/
  %body
    %h1
      これは見出しです
    %p
      １つ目の段落です
    %p
      2つ目の段落です
    %p
      3つ目の段落です。
      %b この部分は太字になります。
